body {
	text-align: center;
	background-color: grey;
}

.button-group {

	margin-bottom: 60px;
}

.grid {
	margin: auto;
	height: 500px;
	width: 500px;
	cursor: none;
}


.cell {
	background-color: white;
	display: inline-block;
	box-sizing: border-box;
	line-height: 0px;
	float: left;
}

.paint {
	background-color: black;
}

.erase {
	background-color: white;
}

#paint-brush {
	background:  no-repeat url(../images/paint_brush.png);
	height: 50px;
	width: 50px;
}
