body {
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
	background-size: 100%;
	background-image: url(../images/art.jpg);
}

h1 {
	color: #ffffff;
	font-size: 70px;
}

.button-group {

	margin-bottom: 60px;
}

.grid {
	margin: auto;
	height: 500px;
	width: 500px;
	cursor: none;
}


.cell {
	background-color: white;
	display: inline-block;
	box-sizing: border-box;
	line-height: 0px;
	float: left;
}

.erase {
	background-color: white;
}

